{% set foo = [0,1] %}{% set deferred = deferred && true %}
{% set foo = [0,1,2] %}
{% set foo = [0,1,2,3] %}{% set deferred = deferred && true %}
{% set foo = [0,1,2,3,4] %}true
{% set foo = [0,1,2,3,4,5] %}{% set deferred = deferred && true %}
[0, 1, 2, 3, 4, 5]
